
.box {
  width: 500px;
  margin: auto;
  height: 380px;
  overflow-y: auto;
}

.box::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.box::-webkit-scrollbar-thumb {
  background: #bc581e; 
  border-radius: 10px;
}

/* Handle on hover */
.box::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.bread-top {
  height: 17%;
  width: 60%;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto;
  position: relative;
}

.seeds {
  position: absolute;
  width:8%;
  height: 10%;
  background-color: white;
  left: 30%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(-20deg);
  box-shadow: inset -2px -3px #c9c9c9;
}

.seeds:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: -170%;
  top: -260%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px 2px #c9c9c9;
}

.seeds:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: 180%;
  top: -50%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px -3px #c9c9c9;
}

.seeds2 {
  position: absolute;
  width: 8%;
  height: 10%;
  background-color: white;
  left: 64%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(10deg);
  box-shadow: inset -3px -0 #c9c9c9;
}
.seeds2:after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  content: "";
  left: 150%;
  top: -130%;
  border-radius: 40%;
  transform: rotate(90deg);
  box-shadow: inset 1px 3px #c9c9c9;
}

.salad {
  width: 70%;
  height: 5%;
  background: linear-gradient(#228c1d, #91ce50);
  margin: 2% auto;
  border-radius: 20px;
}

.bacon {
  width: 60%;
  height: 3%;
  background: linear-gradient(#bf3813, #c45e38);
  margin: 2% auto;
}

.cheese {
  width: 71%;
  height: 4%;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 20px;
  margin: 2% auto;
}

.meat {
  width: 62%;
  height: 6%;
  background: linear-gradient(#7f3608, #702e05);
  border-radius: 15px;
  margin: 2% auto;
}

.bread-bottom {
  height: 11%;
  width: 60%;
  background: linear-gradient(#f08e4a, #e27b36);
  margin: 2% auto;
  box-shadow: inset -15px 0 #c15711;
  border-radius: 0 0 30px 30px;
}
.burgerpoint{
	text-align: center;
	font-size: 60px;

}
.pricebox{
	display: flex;
	justify-content: center;

}
.price{
	font-weight: bold;
	margin:30px;
	font-size: 30px;
}

.counter{
	font-weight: bold;
	margin: 20px;
	border: 4px solid aqua;
	width: 8%;
	font-size: 30px;
	text-align: center;
}
.container{
	border:5px solid gray;
	width: 50%;
	margin: auto;
}
.saladbox{
	display: flex;
	justify-content: space-around;
	padding: 15px;
}
.baconbox{
	display: flex;
	justify-content: space-around;
	padding: 15px;
}
.cheesebox{
	display: flex;
	justify-content: space-around;
	padding: 15px;
}
.meatbox{
	display: flex;
	justify-content: space-around;
	padding: 15px;
}
.plus1{
	font-size: 20px;
	font-weight: bold;
	color: green;
	float: right;
	cursor: pointer;
}
.plus2{
	font-size: 20px;
	font-weight: bold;
	color: green;
	float: right;
	cursor: pointer;
}
.plus3{
	font-size: 20px;
	font-weight: bold;
	color: green;
	float: right;
	cursor: pointer;
}
.plus4{
	font-size: 20px;
	font-weight: bold;
	color: green;
	float: right;
	cursor: pointer;
}
.minus1{
	font-size: 20px;
	font-weight: bold;
	color: green;
	cursor: pointer;
}
.minus2{
	font-size: 20px;
	font-weight: bold;
	color: green;
	cursor: pointer;
}
.minus3{
	font-size: 20px;
	font-weight: bold;
	color: green;
	cursor: pointer;
}
.minus4{
	font-size: 20px;
	font-weight: bold;
	color: green;
	cursor: pointer;
}
.counter1{
	font-size: 30px;
	font-weight: bold;
}
.counter2{
	font-size: 30px;
	font-weight: bold;
}
.counter3{
	font-size: 30px;
	font-weight: bold;
}
.counter4{
	font-size: 30px;
	font-weight: bold;
}
.saladname{
	font-size: 30px;
	font-weight: bold;
	color: green;
	width: 40%;
}.baconname{
	font-size: 30px;
	font-weight: bold;
	color: #bf3813;
	width: 40%;
}.cheesename{
	font-size: 30px;
	font-weight: bold;
	color: #f4d004;
	width: 40%;
}.meatname{
	font-size: 30px;
	font-weight: bold;
	color: #7f3608;
	width: 40%;
}
.rupees1{
	border:2px solid aqua;
	width: 8%;
	height: 20px;
	text-align: center;
}
.rupees2{
	border:2px solid aqua;
	width: 8%;
	height: 20px;
	text-align: center;
}
.rupees3{
	border:2px solid aqua;
	width: 8%;
	height: 20px;
	text-align: center;
}
.rupees4{
	border:2px solid aqua;
	width: 8%;
	height: 20px;
	text-align: center;
}
